@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  margin: 0;
  background-color: #242322;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("background-img.jpg");
  background-size: cover;
  color: #f2f2f2;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 16px solid #242322;
}

.logo {
  position: absolute;
  top: 48px;
  left: 64px;
  font-size: 42px;
  font-weight: 400;
}

.links {
  position: absolute;
  top: 48px;
  right: 64px;
  font-size: 28px;
  font-weight: 400;
  text-align: right;
}
.links .link {
  margin: 4px 0;
}

.logo b{
  font-weight: 700;
}

.about {
  position: absolute;
  bottom: 80px;
  left: 88px;
  font-size: 22px;
  width: 60%;
  text-align: left;
  padding: 16px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 4px;
}

.about .name {
  font-size: 28px;
  font-weight: 700;
}
